@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1b1530;
}

.login-card{
    transition: .5s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
}
@media screen and (max-width: 500px){
    .login-card{
        transition: .5s;
        width: 320px;
    }
}
@media screen and (max-width: 645px){
    .login-card{
        transition: .5s;
        flex-direction: column;
        width: 340px;
    }
}
.login-header{
    text-align: center;
}
.login-header h1{
    font-size: 1.9em;
}
.login-header p{
    color: #e8edfc9c;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: #E8EDFC;
}
.login-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    width: 250px;
}
.inputs{
    transition: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    border-bottom: 2px solid #E8EDFC;
    margin: 5px 0;
}
.inputs:focus-within{
    transition: .25s;
    width: 230px;
}
.inputs ion-icon{
    margin-right: 8px;
}
.inputs input{
    background-color: transparent;
    color: #E8EDFC;
    border: 0;
    outline: none;
}
.inputs input::placeholder{
    color: #e8edfc9c;
}
.login-footer input{
    transition: .3s;
    background-color: transparent;
    border: 0;
    outline: none;
    background-color: #E8EDFC;
    color: black;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 20px;
}

.login-footer input:hover{
    transition: .3s;
    transform: scale(110%, 110%);
    cursor: pointer;
    color: #E8EDFC;
    background-color: transparent;
    box-shadow: 5px 5px 10px black;
}

.login-footer input:active{
    box-shadow: inset 5px 5px 10px black;
}

.alternative-socials{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 115%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 320px;
    font-size: .8em;
}
.alternative-socials p{
    text-align: center;
    margin: 5px 0;
    color: #e8edfc85;
}
.social-icons{
    display: flex;
}
.alternative-socials a{
    padding: 10px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternative-socials a ion-icon{
    transition: .3s;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #e8edfcde;
}

.alternative-socials a:hover ion-icon{
    transition: .3s;
    color: #E8EDFC;
    transform: scale(130%, 130%);
}

/*TABS-CONTAINER*/
.tabs-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.tabs{
    position: absolute;
    width: 80vw;
    height: 100vh;

    transform: translateY(-50%);
    left: -90%;
    top: 50%;
}
.hookers{
    position: absolute;
    left: 100%;
    transition: .3s;
    color: #E8EDFC;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    overflow-y: hidden;
    cursor: pointer;
}
.hookers ion-icon{
    width: 22.5px;
    height: 22.5px;
}

.classes-tab-container{
    background-color: #4D3D87;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.classes-tab-hooker{
    background-color: #4D3D87;
    top: 2.5%;
}
.classes-tab-hooker:hover{
    transition: .3s;
    height: 270px;
}
.classes-status-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #E8EDFC;
    padding: 10px 0;
    margin-top: 10px;
}
.classes-status-container h1{
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #E8EDFC;
}
.classes-status-content h2{
    margin-top: 15px;
}
.classes-status-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.classes-cards-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #282046;
    width: 270px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;

}
.class-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #E8EDFC;
    background-color: #4D3D87;
    width: 250px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.192);
}
.class-card ion-icon{
    transition: .25s;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 2px solid;
    border-radius: 100%;
}
.class-card-button:hover{
    transition: .25s;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.342);
    transform: scale(110%, 110%);
}
.class-card-button:active{
    transform: scale(100%, 100%);
    box-shadow: none;
}
.finish-class-card-button:hover{
    transition: .25s;
    color: rgb(159, 250, 23);
}
.delete-class-card-button:hover, 
.wrong-class-card-button:hover{
    transition: .25s;
    color: rgb(255, 40, 40);
}
