@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F1C7B9;
}

.messages-container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-color: white;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box{
    height: 200px;
    overflow-y: scroll;    
}
.content-box::-webkit-scrollbar{
    display: none;
}

h1{
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid black;
}

.message{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 15px;
    border: 1px solid black;
}

.message ion-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.input-container{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 320px;
    padding: 20px;
    border-radius: 50px;
}
input{
    background-color: transparent;
    border: 0;
    outline: none;
}

.input-container ion-icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    transition: .3s;
}

.input-container ion-icon:hover{
    transform: scale(120%, 120%);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.137);
}

.input-container ion-icon:active{
    box-shadow: inset 2.5px 2.5px 5px rgba(0, 0, 0, 0.137);
}