@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

ion-icon:hover{
    cursor: pointer;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,52,1) 0%, rgba(2,9,104,1) 50%, rgba(162,0,255,1) 100%);
}

.messages-container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;

    background-color: rgba(255, 255, 255, 0.767);
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uncompleted-todos, .completed-todos{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.349);
    overflow-y: scroll;
    
}
.uncompleted-todos::-webkit-scrollbar, 
.completed-todos::-webkit-scrollbar{
    display: none;
}



h1{
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid black;
}
h2{
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 270px;
    margin: 15px;
    border-radius: 25px;
    
}
.uncompleted-todos .message{
    background-color: #fc3b2d;
    box-shadow: 0px 0px 10px #fc3b2d;
}
.completed-todos .message{
    background-color: #40ff89;
    box-shadow: 0px 0px 10px #40ff89;
}
.message ion-icon{
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
}
.message ion-icon:hover{
    transform: scale(115%, 115%);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.226);

}
.message ion-icon:active{
    box-shadow: inset 2.5px 2.5px 5px rgba(0, 0, 0, 0.137);
}
.message>p{
    width: 180px;
    padding: 0 10px;
    text-align: center;
    word-wrap: break-word;
}
.input-container{
    position: absolute;
    left: 50%;
    bottom: .5%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.767);
    width: 320px;
    height: 60px;
    padding: 20px;
    border-radius: 50px;
}
input{
    background-color: transparent;
    border: 0;
    outline: none;
}

.input-container ion-icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    transition: .3s;
}

.input-container ion-icon:hover{
    transform: scale(120%, 120%);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.137);
}

.input-container ion-icon:active{
    box-shadow: inset 2.5px 2.5px 5px rgba(0, 0, 0, 0.137);
}